<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      frampt - gnot.club
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script type="module">
      import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus@3.0.1/dist/stimulus.js";

      window.Stimulus = Application.start();

      Stimulus.register("upload", class extends Controller {
        connect() {
          console.log("bars");
        }
      });
    </script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          frampt
        </h1>
        <p class="subtitle">
        give me titanite dude
        </p>
        <div data-controller="upload">
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>" />
            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" name="file">
                <span class="file-cta">
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
              </label>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary">
                  Upload
                </button>
              </div>
            </div>
          </form>
          <ul id="upload-list">
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
